/* You can add global styles to this file, and also import other style files */
.parent{ border: solid; align-items: center}
.child{border: solid}

button {padding: 10px 10px 10px 10px; margin: 10px 10px 10px 10px }
.child label {padding-right: 10px}


body { font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body {
  margin: 0;
  height: 100%;
}
